[2016-10-14 03:02] MrHohn opened #4 "More control patterns are needed beside `ladder` mode."
For this cluster-proportional-autoscaler, the desired number of replicas of RC/Deployment/RS is decided by the `controller` plugin. As the progress made in #3, currently the only supported `controller` is `ladder controller`, which compute replica counts by looking up the number of cores and nodes and using the step ladder function.

Although the starting point of this project is to simply scale u

[2016-10-19 04:17] MrHohn opened #6 "Support switching control pattern on-the-fly."
As we are adding more control patterns to autoscaler like #5, it would be great to also support switching control pattern without restarting the autoscaler.

Currently the `control mode` is passed to autoscaler as an input argument. One thought to achieve this is also parse out the `control mode` from ConfigMap.

[2016-10-19 04:18] MrHohn commented on #4
#5 implements a linear control pattern.

[2016-10-24 21:17] MrHohn opened #7 "Need to support maintaining default ConfigMap params"
Current autoscaler only takes the responsibility to fetch ConfigMap from the apiserver. When there is no ConfigMap created or the previous ConfigMap on apiserver got accidentally deleted, autoscaler will fail. It would be good that this autoscaler also provides the ability to create a default ConfigMap when not present, and the default ConfigMap params could(or should) be provided by user.

Here i

[2016-10-26 22:33] MrHohn opened #9 "Should provide other ways to specify the scaling target beside name."
As the scaling target's name could be changed, autoscaler should provide other ways for user to specify what the target is. One candidate would be `label selector`.

Take kube-dns as an example, we could use label `k8s-app: kube-dns` to select the target ReplicationController/Deployment, and don't need to restart autoscaler to change the input argument everytime when the target name is changed.

[2016-10-27 21:39] MrHohn opened #10 "Need to abstract GetClusterStatus to be part of the controller plugin"
The ultimate goal of this autoscaler is to support any types of cluster statuses for controllers. In current implementation, only cluster size(node number and core number) is consider as part of the cluster size. Soon it will become not sufficient because cluster size is not always an appropriate parameters for scaling applications.

Another obvious option for scaling is pods number with QPS per p

[2016-11-07 19:43] #7 closed

[2016-11-10 18:11] MrHohn opened #12 "Make CoresPerReplica and NodesPerReplica `float` instead of `int`"
Current implementation of linearParams as below:
[code]

By making `CoresPerReplica` and `NodesPerReplica` float, we can have more precise control. Example:
[code]

[2016-11-15 00:53] #12 closed

[2016-11-21 23:34] bowei opened #15 "Export prometheus metrics"
Exposing prometheus compatible metrics from the pod will enable easier debugging and tracking.

[2016-12-17 01:46] MrHohn opened #16 "Mount ConfigMap into container instead of fetching it from Apiserver"
Kubernetes already provides ConfigMap mounting feature --- the mounted ConfigMap gets dynamically reloaded on disk on changes. It seems not wise to re-implement a mechanism provided by the cluster.

Beside, with current implementation the autoscaler has to be granted ConfigMap read access rights to the cluster. It also seems unfit because only one specific ConfigMap is needed for providing scaling

[2016-12-28 19:49] #6 closed

[2017-01-05 18:23] MrHohn opened #19 "Bring vertical autoscaling feature into current autoscaler."
Although the original purpose of this repo is to provide a method for horizontal autoscaling, it would be great if we also bring in the vertical autoscaling feature, as this could be done in the same pattern. The vertical autoscaling feature could be modeled off of the [Addon Resizer project](https://github.com/kubernetes/contrib/tree/master/addon-resizer/), which is basically monitoring the clust

[2017-01-07 01:09] MrHohn opened #20 "Autoscaler examples are broken because lack of proper permissions."
Kubernetes upstream did a bunch of updates about [authorization](http://kubernetes.io/docs/admin/authorization/). And it broke the autoscaler examples because by default the pod created in the default namespace would not have authentication to list nodes nor modify a target resource. Error log as below:
[code]

Need to properly assign permissions to autoscaler pod as a fix.

[2017-01-25 02:39] MrHohn opened #22 "Need to get the right semantics for scaling pattern to make autoscaler more practical."
From kubernetes/kubernetes#40063 and [comment in kubernetes/kubernetes#40281](https://github.com/kubernetes/kubernetes/pull/40281#issuecomment-274376537).

A practical setup for apps like kube-dns would be:
- Have only 1 replica on a 1 node cluster.
- Increase to at least 2 replicas in case of 2 nodes to mitigate single point failure.
- In other cases let the controller takes over.

Open to sugges

[2017-02-01 01:01] Q-Lee commented on #19
There are at least 2 useful improvements that have been made to this horizontal autoscaler (#cores and a config file) that could be used for the vertical autoscaler. The code between the autoscaler and the rightsizer shouldn't need to be very different, and could live together.

[2017-02-01 07:00] davidopp commented on #19
cc/ @mwielgus

[2017-02-02 20:16] #20 closed

[2017-02-21 18:01] #22 closed

[2017-03-03 18:55] bowei opened #27 "Add health check and metrics"
This pod needs a health check. Might as well add metrics as well.

Probably can do a cut and paste of https://github.com/kubernetes/dns/blob/master/pkg/sidecar/metrics.go

[2017-03-11 01:29] timstclair opened #28 "Rebase docker image on scratch"
See https://github.com/kubernetes/kubernetes/issues/40248#issuecomment-280781931

It looks like this image doesn't require any external dependencies, so we should be able to rebase on scratch without any trouble.

For debugging scratch-based images, see https://github.com/kubernetes/contrib/tree/master/scratch-debugger

[2017-05-11 11:39] stuart-warren opened #29 "Allow horizontally scaling statefulsets"
Hi,

We'd like to add the ability to proportionally scale stateful sets. Is there a particular reason this is a really bad idea?

Our use-case is for docker registry mirror pods and prometheus instances where we use a shared git repo of kubernetes manifests. On minikube/tiny clusters, we run out of resources that we would have in production.

Might need to be a little more careful, but should be d

[2017-05-11 13:18] stuart-warren commented on #29
I assume this would require a newer version of the client library too

[2017-05-11 17:04] MrHohn commented on #29
Sounds good to me, would the idea also be scaling StatefulSets proportionally based on cluster size?

/cc @foxish @janetkuo for more insight :)

[2017-05-11 18:00] davidopp commented on #29
@mwielgus @fgrzadkowski @MaciekPytel

[2017-05-11 18:22] MrHohn opened #30 "Use a newer client-go version"
We are using an old client-go library (v1.4). It may not be compatible with v1.7 k8s server as the upstream only guarantee maximum two major version diffs.

Should update to use a newer version before [v1.7 code freeze](https://github.com/kubernetes/features/blob/master/release-1.7/release-1.7.md#17-release-schedule).

[2017-05-12 09:30] fgrzadkowski commented on #29
What would you be scaling based on?

[2017-05-12 09:31] fgrzadkowski commented on #29
Would it be safe to just remove some instances? Would it be safe to add new ones?

[2017-05-12 11:41] stuart-warren commented on #29
We'd likely be scaling on the number of nodes, but perhaps if the #19 is completed, then also size of node.

I see it that you have to know that you want to scale a stateful set in advance, so it's up to you to know it is safe to do so and whether a min/max setting is required. I haven't looked too deep at the code yet to see if would handle not being able to scale down due to a node being unavail

[2017-05-12 11:46] mwielgus commented on #29
What would be the main use-case for this?

[2017-05-12 12:06] stuart-warren commented on #29
I said in the initial post :)

We'd like to have a common set of kubernetes manifest files that set up a base cluster and any necessary services for dev, test and prod. Currently we struggle to run this on very small clusters/minikube because on larger clusters we want more instances of prometheus/etcd/docker registry mirrors/etc.

[2017-05-12 12:27] mwielgus commented on #29
Right, must have missed that. Sorry :).

[2017-05-12 16:45] MrHohn opened #31 "Should have a way to print all supported modes and available params"
There is currently no way to know what modes are supported, what parameters are available for each mode and how to use them, unless you read the READMEs in this repo.

We should be able to print these out via the binary as well. Probably through:
[code]

[2017-05-12 17:14] MrHohn commented on #29
@stuart-warren The autoscaler only takes available nodes into account.

It is totally true that it's up to the users to know whether it is safe to scale a statefulset. Though I'm not sure how to make our generic controllers be application-aware?

[2017-05-12 18:22] bowei commented on #31
How would this work, someone would docker run the container with a different entrypoint with the help flags? It is true that it would be good to build the help into the package, but the mechanism to access the help text seems a little obscure.

[2017-05-22 11:53] Tedezed commented on #29
Issue related in kubernetes/kubernetes: https://github.com/kubernetes/kubernetes/issues/44033

[2017-05-22 16:52] MrHohn commented on #28
@timstclair I haven't started working on this yet. Is it a hard requirement for v1.7 release?

[2017-05-22 18:28] timstclair commented on #28
No. I think we can do it mid-release cycle too.

[2017-06-01 06:39] #30 closed

[2017-06-02 07:03] bowei commented on #16
Optional config maps have landed.

[2017-07-07 10:46] gyliu513 commented on #29
While, I was a bit confused here, the document https://kubernetes.io/docs/tasks/run-application/scale-stateful-set/ here already claim that we support scale statefulset, but it actually failed https://github.com/kubernetes/kubernetes/issues/48591

Why the doc claim support but CLI does not?

[2017-07-07 11:13] foxish commented on #29
@gyliu513
The doc talks about `kubectl scale` which is shorthand from the CLI to modify the number of replicas in the StatefulSet spec. `kubectl autoscale` creates an HPA resource for you (described in kubernetes/kubernetes#48591), and that's different. This thread is talking about cluster-proportional-autoscaler which would scale the statefulset according to the number of nodes in the cluster.

F

[2017-07-07 12:14] rdsubhas commented on #29
Hi folks, reading the docs, node autoscaling says it won't scale down a node if there is a pod *not backed* by a replicationcontroller. Similarly, looking at the API docs, looks like horizontal pod autoscaler supports only pods backed by replicationcontroller now.

So - a tantential question, are there any plans to back StatefulSet with a replicationcontroller? Because now I don't see any RS behin

[2017-07-07 12:34] stuart-warren commented on #29
@foxish technically yes this app doesn't need to be a statefulset, but we'd still like to be able to control the size of a zookeeper/cassandra cluster depending on the number of nodes in a cluster.

Ideally we'd have "everything" run in minikube with reduced resource requests and single instances and in a massive production cluster with many instances and increased resource requests.

[2017-07-12 22:37] caseydavenport commented on #19
Another potential use-case for this is Calico, which currently [uses some hard-coded scripting](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L72) to ensure resources are set properly.

Calico would want to make use of both the horizontal and vertical scaling features simultaneously.

[2017-09-21 21:29] joshrosso opened #38 "Provide filter mechanics for nodes / cores used in scaling calculation"
Deployments managed by this autoscaler may only qualify on certain nodes (e.g. using taints/tolerations/labels).

In order to ensure the autoscaling calculation is appropriate for the nodes/cores available to the deployment, it'd be useful to have a filtering mechanic that ensures only specific nodes qualify during calculations.

Let me know if this requirement makes sense and thanks for the work

[2017-10-03 21:54] bowei opened #39 "Emit events when the autoscaler changes the number of replicas"
We should emit an event to surface when autoscaling occurs.

[2018-04-05 03:50] openstacker opened #43 "cluster-proportional-autoscaler or DaemonSet"
Hi there,

This is Feilong from OpenStack Magnum team. Magnum is like a service which help customer to deploy production-ready k8s. We're working on an enhancement for DNS HA. I have a question about cluster-proportional-autoscaler and DaemonSet. Based on my understanding, DaemonSet will ensure that all Nodes run a copy of a Pod. So what's the extra benefit cluster-proportional-autoscaler can prov

[2018-05-24 14:47] jessfraz opened #44 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-30 19:01] MrHohn commented on #43
Hi Feilong, there are pros and cons for either solution (autoscaling deployment or Daemonset), but in general I think both can work fine with well tuned parameters. There are some relevant discussion on https://github.com/kubernetes/kubernetes/issues/45363 that you might be interested.

[2018-05-30 21:51] openstacker commented on #43
@MrHohn Hi Zihong, thanks for replying my question. Actually, I have already used it in OpenStack Magnum for coreDNS pod auto-scaling. BTW, are you guys still actively maintaining this lovely repo? Thanks.

[2018-05-31 16:40] MrHohn commented on #43
Good to know, FYI this is used for autoscaling CoreDNS with kube-up as well (for now): https://github.com/kubernetes/kubernetes/pull/62409.

Yes.

[2018-06-06 04:12] openstacker commented on #43
Awesome. Yes, I know GKE is using this one, hence why we finally decided to use this for Magnum. Thank you for your great work.

[2018-06-06 04:12] #43 closed

[2018-06-12 22:06] #44 closed

[2018-09-19 22:27] awly opened #51 "Rebuild docker image to pick up Alpine 3.8.1"
Alpine 3.8.1 fixes a RCE vulnerability (see https://alpinelinux.org/posts/Alpine-3.8.1-released.html).
Rebuild and push the image to pick up the new base image.

[2018-09-20 22:14] tallclair commented on #51
Is there a reason this can't be built from scratch instead? That's preferable whenever possible.

[2018-10-01 16:32] awly commented on #51
Ping @MrHohn

[2018-10-01 17:09] MrHohn commented on #51
Ack, will take a look today.

[2018-10-02 17:20] #28 closed

[2018-10-09 02:11] MrHohn commented on #51
This is fixed.

[2018-10-09 02:11] #51 closed

[2018-10-30 17:45] amrmahdi commented on #16
Are you still planning on changing the implementation? Do you have timelines?

[2018-10-30 17:55] MrHohn commented on #16
@amrmahdi I might not have bandwidth to do this shortly, but would love to review and merge if someone else can pick this up :)

[2018-10-30 17:57] MrHohn commented on #16
kube-dns has implemented similar functionality: https://github.com/kubernetes/dns/blob/master/pkg/dns/config/sync.go

[2018-12-24 09:01] Deepak1100 commented on #38
Yes, In my case we have 5 master node cluster and master nodes size is m5.xlarge and we have multiple clusters.
so we have to take those nodes into consideration before setting config

[2019-01-14 22:32] JunSun17 opened #53 "dns autoscaler does not support virtual kubelet node"
In the Azure AKS environment, when using virtual kubelet node (https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet), the default CPU count reported is 800 (https://github.com/virtual-kubelet/virtual-kubelet/blob/e98d3ad2ae4767bce647e8e2f62d261f881fa242/providers/azure/aci.go#L269-L271). This leads to the dns autoscaler calculates a large number of replica for dns pod than actually required.

[2019-01-14 23:12] MrHohn commented on #53
@JunSun17 Curious in the virtual kubelet concept, what denotes the size of a cluster?

[2019-03-29 16:11] vijaygos commented on #9
I think this is a much-needed feature. We have a cluster with multiple nodepools and we would like to scale independently for each of these node pools. Having a label selector to filter the number of nodes allows for scaling in such scenarios.

[2019-03-29 16:15] MrHohn commented on #9
@vijaygos For you use case, is that https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/55 (filter node based on labels)?

[2019-03-29 16:18] vijaygos commented on #9
Yes. This would work. I just realized that the [change ](https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/commit/79563c6b2f352f04046e12772864e5c24ef48d77) went in recently.
Thanks for adding that. Much appreciated.

[2019-03-29 16:38] MrHohn commented on #9
@vijaygos In case you don't want to build it from head, I will publish a new image includes that change very soon.

[2019-03-29 18:07] vijaygos commented on #9
Would it be possible for you to comment on your timeline for a formal release?

[2019-03-29 18:12] MrHohn commented on #9
@vijaygos I just did --- images below should be available now:
- k8s.gcr.io/cluster-proportional-autoscaler-amd64:1.5.0
- k8s.gcr.io/cluster-proportional-autoscaler-arm:1.5.0
- k8s.gcr.io/cluster-proportional-autoscaler-arm6464:1.5.0
- k8s.gcr.io/cluster-proportional-autoscaler-ppc64le:1.5.0

[2019-03-29 18:15] vijaygos commented on #9
Awesome! Thanks@MrHohn for the quick turnaround.

[2019-05-22 12:31] stuart-warren commented on #29
/remove-lifecycle rotten

[2019-06-20 15:06] #19 closed

[2019-06-24 07:33] #15 closed

[2019-06-24 07:33] #10 closed

[2019-06-24 07:33] #27 closed

[2019-06-24 08:34] #4 closed

[2019-06-25 17:53] bowei commented on #31
/lifecycle frozen

[2019-06-25 17:53] bowei commented on #31
/good-first-issue

[2019-06-25 18:03] bowei commented on #39
/lifecycle frozen
/good-first-issue

[2019-06-26 22:34] #38 closed

[2019-06-27 14:50] #53 closed

[2019-07-05 03:38] ringtail commented on #39
@bowei Pls assign to me

[2019-07-10 17:57] MrHohn commented on #39
@ringtail Feel free to work on it if you like :) I'm not currently looking at this.

[2019-07-11 03:34] ringtail commented on #39
copy that.

[2019-08-14 16:25] karolinepauls opened #60 "The README is unclear (and possibly the configuration is indirect)"
Disclaimer: I am/was confused in so many ways, it was struggle to even write this issue down - I think I only started understanding how the autoscaler works when writing this but I'm still not really confident I do understand it now.

The documentation should explain why:

1. The parameter "coresPerReplica" is called so. If I want to decide how many replicas I want per core in the cluster, I want

[2019-08-19 19:38] salavessa opened #61 "release 1.7.0 not scaling"
Hi,

Latest version `1.7.0` doesn't seem to be working at all (tested in k8s `v1.11.9`, `v1.13.10` and `v1.15.2` with `RBAC` and wasn't able to make it autoscale anything - it only shows the initial log message `autoscaler.go:49] Scaling Namespace: default, Target: deployment/nginx-autoscale-example` and that's it).
Exactly same deployment (e.g. examples/linear.yaml) works fine when using cluster-

[2019-08-19 20:29] MrHohn commented on #61
Thanks for reporting this. https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/62 is fixing the example files. Also I'm looking into the not scaling issue, will report back soon.

[2019-08-19 22:13] MrHohn commented on #61
Turned out we re-vendored client-go (https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/59) and broke the controller.

The culprit is that `reflector.Run()` no longer spawns a new goroutine and becomes blocking:

https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/513df764a729167ab44fc1f1544481a8820e1cf5/vendor/k8s.io/client-go/tools/cache/reflect

[2019-08-19 23:16] salavessa commented on #61
Thanks for the fast action 👍
I guess one file was missed: `examples/linear-defaultparams.yaml`
And maybe the comments in the end should be kept as before because having `serviceAccountName: cluster-proportional-autoscaler-example` makes it directly dependable on the components of `examples/RBAC/RBAC-configs.yaml` file for the autoscaler pod to start... or else the contents of the `RBAC-configs.yam

[2019-08-19 23:18] MrHohn commented on #61
@salavessa Thanks for looking into that. Makes sense, will update that soon.

[2019-08-23 08:42] iwasnobody opened #64 "not work with kops?"
It seems cluster-proportional-autoscaler access api-server svc to get nodes. If the cluster is created using kops, it is not allowed to call api-server svc directly. For my environment, I use kops create k8s cluster in aws. There is an ELB for api access.
Is it possible to add a parameter to specify the api endpoint for cluster-proportional-autoscaler?

[2019-08-23 08:50] iwasnobody commented on #64
fixed. 1.7.0 not work. but 1.6.0 is ok

[2019-08-23 08:51] #64 closed

[2019-08-24 00:03] MrHohn commented on #61
I will soon cut a new release (1.7.1).

[2019-08-27 09:04] salavessa commented on #61
1.7.1 is working fine for same scenarios that were previously failing for me.
Closing...
Thanks

[2019-08-27 09:04] #61 closed

[2019-09-06 20:20] eherot opened #65 "SchedulableCores doubles unexpectedly"
# CPA Version

1.7.1.

# Kubernetes Version

1.11.8

# What happens?

During the normal course of operations, seemingly with no change to the environment, the number of detected `SchedulableCores` doubles (while the number of detected nodes remains the same). This results in the number of DNS pods doubling and then being chopped in half again (resulting in some occassional blips in DNS service).

[2019-09-06 21:14] bowei commented on #65
Is it possible to increase the log verbosity to 3 or 4? (-v command line flag)

[2019-09-06 21:24] eherot commented on #65
I have temporarily disabled it while we debug other coredns crashing issues but I will get back to you on that.

[2019-09-06 23:57] MrHohn commented on #65
/assign

[2019-09-07 00:04] MrHohn commented on #65
Can't think of how can cores be doubled while nodes remain the same, unless node's `ResourceCPU` was manipulated in some sort:
https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/blob/872b0a4e17b10aa43592e76634b739612483de71/pkg/autoscaler/k8sclient/k8sclient.go#L192-L203

[2019-09-07 00:08] MrHohn commented on #65
@eherot What environment (or cloud provider) do you use?

[2019-09-07 00:22] eherot commented on #65
That would be AWS

[2019-09-10 17:04] MrHohn commented on #65
I wonder would it be related to the k8s client versions --- CPA 1.7.1 uses k8s 1.15.1 where as your cluster uses 1.11.8.

[2019-09-10 18:24] eherot commented on #65
Is there a CPA/k8s compatibility matrix available somewhere?

[2019-09-10 18:32] MrHohn commented on #65
As client-go is the only piece that may be incompatible, I would refer to https://github.com/kubernetes/client-go#compatibility-matrix. The latest CPA uses client-go 12.0, technically it should work with k8s 1.9+.

[2019-09-16 13:44] superseb opened #66 "arm64 images not available after 1.6.0"
From the releases, I can see that starting with `1.7.0` only the `amd64` arch image is published. Is `arm64` support dropped at some point? I couldn't find it in the CHANGELOG or notes on the releases.

https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/cluster-proportional-autoscaler-arm64
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/cluster-proportional-

[2019-09-17 18:55] MrHohn commented on #66
@superseb Thanks for reporting. It is unintentional to drop support for the other archs. I will work on publishing those images in a day or so.

[2019-09-20 00:53] MrHohn commented on #66
@superseb The missing images have been published: https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/releases/tag/1.7.1.

[2019-09-20 00:53] #66 closed

[2019-09-20 00:54] MrHohn commented on #66
Since CPA 1.7.0 is essentially broke, only 1.7.1 images are published.

[2019-11-04 21:00] bpinske opened #68 "It should be possible to use only use the cores of nodes with specific labels"
I’ve been using the proportional autoscaler with a low priority pause container deployment to maintain relative headroom before scaling is triggered in the normal recommended way.

This however is breaking down for me when I want to maintain this relative headroom for individual worker-pools. In particular the proportional autoscaler doesn’t have a concept of only responding to certain node labels

[2019-11-06 15:47] salavessa commented on #29
Hi, I would also like to see this functionality implemented.

Looking at the source code the change seems super simple and straight forward (but I may be terribly wrong).

The use case is related to the unique ability of a statefulset to use `volumeClaimTemplates` which provisions pv/pvc automatically if necessary (https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components).

[2019-11-06 15:47] salavessa commented on #29
/remove-lifecycle rotten

[2019-11-06 15:48] salavessa commented on #29
/reopen

[2019-11-18 19:02] MrHohn commented on #68
@bpinske Node label support was added by https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/55, is that something you can utilize?

[2020-01-10 12:03] lemonli opened #71 "Is node.Status.Allocatable much better than node.Status. Capacity in calculating total cores?"
Allocatable on a Kubernetes node is defined as the amount of compute resources that are available for pods. In production environment, we often reserve 1 or more cpu core for system,  so the difference of total core numbers  is huge in a large cluster(eg 1000 nodes).

If this is a real problem, I can submit a pr for it.

[2020-01-17 03:09] lemonli commented on #71
@MrHohn
thanks

[2020-01-20 15:23] dudicoco commented on #16
/reopen

[2020-01-20 15:24] dudicoco commented on #16
Are there any plans on implementing this issue? It would be best practice to create the configmap beforehand.

[2020-01-21 03:30] lemonli commented on #71
/assign MrHohn

[2020-01-29 01:40] lodotek commented on #60
I agree

[2020-02-07 20:01] #65 closed

[2020-03-03 07:17] arahamad opened #73 "Can CPA adjust PODs replica count on the basis of configured date and time"
Use case:
We want to scale the cluster at particular date and time hence expecting CPA can modify/change replica count at a specific date and time which will cause CA to scale the cluster.

there are other things which I am looking before adaptation of CPA, some of them I already discuss and answered by @MrHohn , thought  to track it via ghe

1- I see its for managing POD in terms of maintaining s

[2020-03-18 15:59] eriksywu opened #74 "add /healthz endpoint"
re: issue #27

I'd like to add a healthz endpoint for general liveliness check (i.e check if able to load configmap)

[2020-03-25 02:28] dharmab commented on #73
In regards to scheduled scaling, why not use a schedule based scaler such as https://github.com/West-Coast-Devops/scheduled-scaler or https://github.com/citizensadvice/kube-schedule-scaler instead?

[2020-03-25 02:29] dharmab commented on #60
replicasPerCore and nodesPerReplica would result in fractional numbers in practice which are arguable more confusing...

[2020-04-02 17:12] MrHohn opened #76 "Release 1.8.0"
We need to make a new release to pick up:
- https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/81
- https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/79
- https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/75
- https://github.com/kubernetes-incubator/cluster-proportional-autoscaler/pull/72

cc @eriksywu
/assign

[2020-04-03 00:32] MrHohn commented on #71
@lemonli Apologies for the late reply. It makes sense to me that `node.Status.Allocatable` indicates the state more accurately. PR wellcomes!

[2020-04-09 20:19] dharmab opened #77 "Include cordoned nodes in CPA calculations"
CPA only considers schedulable nodes when determining how many replicas to run. However, cordoned nodes often contribute to load since a cordoned node may still run workloads which were scheduled before the cordoning.

An option to include cordoned nodes in the autoscaling calculation would allow critical services (e.g. DNS) to scale based on the total number of nodes rather than the schedulable N

[2020-04-13 23:04] srspnda opened #80 "Unbalanced number of replicas per node"
Hi there. I'm seeing behavior with this autoscaler that doesn't align with my expectation. My expectation is that with `linear` mode, `coresPerReplica: 1`, a 6 node cluster with 8 cores per node would then see 8 replicas on each node, for a total of 48. This would provide an evenly distributed CPU request buffer across the cluster, where each node would have ~20% of its allocated CPU requests fill

[2020-04-14 04:14] srspnda commented on #80
After reading the code I see that the autoscaler is just updating the replica count of the target object from math done on values retrieved by polling the API server. So I can't expect exactly even distribution.

Though, I have noticed that after updating the autoscaler image or doing a worker node update that fairly uneven distribution can occur. Are there ways that others are handling this issue

[2020-04-14 20:48] #77 closed

[2020-04-14 21:05] MrHohn commented on #73
@arahamad Sorry for the delay.

Although this looks like a good use case, I don't how it can be easily integrated with this autoscaler, which is mostly cluster-proportional based as its name. You should probably look for other scalers that already provide such functionality as @dharmab mentioned.

[2020-04-14 21:05] #73 closed

[2020-04-14 21:07] MrHohn commented on #74
PR has merged.

[2020-04-14 21:07] #74 closed

[2020-04-14 21:07] MrHohn commented on #71
PR has merged.

[2020-04-14 21:07] #71 closed

[2020-04-14 21:27] MrHohn commented on #80
@srspnda Great observation, as you analyzed, CPA doesn't do anything regarding the scheduling part, it merely updates the replica field to what is expected.

To tune the scheduling behavior, you probably want to utilize scheduler related features, such as `Pod Topology Spread Constraints` [1] or `Affinity and anti-affinity` [2].

[1] https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-

[2020-04-15 23:06] srspnda commented on #80
Thank you for the response. I enjoyed reading about the `Pod Topology Spread Constraints` as that feels more in alignment with addressing the issue. Unfortunately clusters I'm operating on are in Amazon EKS, and the latest is v1.15.

My concern with using `anti-affinity` is based on the fact I don't understand what impact that could have on the cluster-autoscaler.

[2020-04-16 18:58] MrHohn commented on #80
I don't see much conflict using that with the autoscaler together. In fact, we did that some times back by enabling anti-affinity on kube-dns (which has this autoscaler enabled) to spread out the pod distribution. Unfortunately that was [rolled back](https://github.com/kubernetes/kubernetes/pull/59357) for other reasons ([performance issue](https://github.com/kubernetes/kubernetes/issues/54164) fo

[2020-04-16 20:57] #68 closed

[2020-04-27 22:01] pc-rshetty opened #82 "Support for checking node and cores with current NodeAffinity"
From the document it appears if i have more than 1 node group and i have NodeAffinity configured instead of Node Selectors it might end up getting total nodes/total cores for all the nodes available in the cluster.

It would be great if it takes into account NodeAffinity when calculating the total current  nodes and cores

[2020-05-02 17:14] ereslibre opened #83 "Operating from outside a cluster"
I was wondering if it would be welcome a new feature that will allow users to run the `cluster-proportional-autoscaler` outside of the cluster that is autoscaling.

The use case is as follows:

* Given a managed Kubernetes service, I want the cluster proportional autoscaler to automatically scale my CoreDNS deployment based on the number of nodes/load.

In this case, the cluster consumer will get

[2020-05-04 17:18] MrHohn commented on #83
@ereslibre Thanks for asking. I don't see why not, please feel free to send a PR. Thanks.

[2020-05-04 17:19] ereslibre commented on #83
Thank you @MrHohn, will prepare one as soon as I can!

[2020-05-07 20:27] bowei opened #84 "Rate limit replica scale up after parameter change"
After a configuration update, it is possible for the number of replicas to experience a large change (e.g. from 1k replicas => 2k), overwhelming the other parts of the infrastructure.

We should have a tunable scale up rate of change parameter such as "scale_up_replicas_per_second" that can control how fast we increase replica counts.

Note: it can default to infinity which is the policy today.

[2020-05-07 20:27] bowei commented on #84
@MrHohn @wojtek-t

[2020-05-21 17:01] MrHohn commented on #76
Release 1.8.0 is out: https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.0.

[2020-05-21 17:01] #76 closed

[2020-06-01 15:55] loxo33 opened #85 "Unable to compute integer values of schedulable cores in the cluster."

[2020-06-01 16:01] loxo33 opened #86 "Unable to compute integer values of schedulable cores in the cluster."
Found on Kubernetes 1.13 and 1.14 servers; upgrading Autoscaler from 1.7.1 to 1.8.0.

The autoscaler errors with:
[code]
It looks like the change in `autoscaler_server.go` didn't account for the return value being a string instead of an integer:

[code]

[2020-06-01 16:02] #85 closed

[2020-06-02 17:17] MrHohn commented on #86
/assign

[2020-06-10 11:27] lemonli commented on #86
my falt

[2020-06-11 23:52] MrHohn commented on #86
Will publish v1.8.1 to pick up the fix.

[2020-06-12 17:29] MrHohn commented on #86
1.8.1 release has been published.

[2020-06-12 17:29] #86 closed

[2020-06-21 19:34] rifelpet opened #89 "Publish multi-arch image manifest"
We're working on adding ARM64 support in Kops but in order to do that we need to use multi-architecture images for all of our addons because the nodes they could be scheduled on could span multiple architectures. Currently the CPA releases have separate images per architecture but it would be great to have a single image manifest for all architectures.

Adding support for this could be as simple a

[2020-07-04 19:22] mcavoyk opened #91 "Update to use kubernetes client-go polymorphic scale client"
Use of polymorphic scale client would add support for any resource with scale sub-resource and would fix https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/issues/29.

[2020-07-10 18:49] MrHohn commented on #84
/cc @prameshj

[2020-07-15 22:37] bowei commented on #80
/remove-lifecycle stale

[2020-07-29 15:14] dudicoco opened #93 "Expose prometheus metrics"
Hi,

Currently there is no way to monitor the autoscaler for errors.

A prometheus metrics endpoint should be exposed, similar to other k8s components.

[2020-08-01 00:03] MrHohn commented on #89
/assign

[2020-08-01 00:06] MrHohn commented on #89
https://github.com/kubernetes/k8s.io/pull/1096 is promoting the 1.8.2 staging images to prod.

[2020-08-03 18:07] MrHohn commented on #89
CPA 1.8.2 has been released: https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.2

And a multi-arch image is available on k8s.gcr.io/cpa/cluster-proportional-autoscaler:1.8.2

[2020-08-03 18:19] hakman commented on #89
Thanks @MrHohn :)

[2020-08-07 04:03] hakman commented on #89
@MrHohn I think something went wrong with the multi-arch image pushing. Could you check?
[code]

[2020-08-07 05:38] johngmyers commented on #89
/reopen

[2020-08-08 00:53] MrHohn commented on #89
Yep looks like the multi-arch image is wrong:
[code]

[2020-08-08 01:15] MrHohn commented on #89
Can't tell how the push command is wrong though (local run against my own gcr repo):
[code]

johngmyers@ Any idea?

[2020-08-08 01:41] MrHohn commented on #89
Humm looks like cross-build image will be labeled with a wrong architecture.. https://github.com/moby/moby/issues/35158

We can probably edit the architecture afterward via `docker manifest annotate`,  for instance:
https://github.com/kubernetes/dns/blob/4e5fdbaa4659e2d4c28b880c9212077ba1cd313e/rules.mk#L78-L85

[2020-08-08 03:31] johngmyers commented on #89
Yeah, I can't figure out a way to correct the arch metadata for the single-arch images. Filed #94.

[2020-08-10 23:00] MrHohn commented on #89
https://github.com/kubernetes/k8s.io/pull/1131 is promoting the new images that include the fix.

[2020-08-13 23:14] MrHohn commented on #89
1.8.3 is out: https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.3

Hope that fixes the issue!

[2020-08-13 23:14] #89 closed

[2020-08-14 04:15] hakman commented on #89
Thanks for the help @MrHohn. It works perfectly:
https://testgrid.k8s.io/kops-misc#kops-aws-arm64-conformance

[2020-09-24 23:47] #82 closed

[2020-10-01 19:26] #83 closed

[2020-10-05 13:35] nikhita opened #96 "Update references to kubernetes-incubator"
The [kubernetes-incubator org](http://github.com/kubernetes-incubator) has been deprecated - https://github.com/kubernetes/community/issues/1922.

This repo still contains `kubernetes-incubator` in it's Makefile and import paths, so these should be updated.

[2020-10-05 15:14] chaodaiG opened #97 "Being able to patch individual fields of linear value"
Linear values are json formatted, but in fact it's string in yaml config, which makes it impossible to `kubectl patch` a single field. For example:

[code]

If I want to change `max` to 50, I can't do `kubectl patch` with:

[code]

I can do:
[code]

But this is not viable in long term, especially when this config is a system config that could be updated to have more fields or less fields, which wi

[2020-10-07 12:58] vickeyrihal1 opened #98 "support for zero in Replicas.Min"
From the documentation:
`The lowest replicas will be set to 1 when min is less than 1.`

We have however got a use case where we are looking to set "replicas.min" to 0 in lower environments. We maintain a handful of clusters with multiple autoscalers for different components.

The idea is to let autoscaler do the scaling on demand and save some costs(even for an instance). This will help us keepin

[2020-10-21 10:41] shaharr-ma opened #99 "cluster-proportional-autoscaler conflicts with HPA CPU"
While using cluster-proportional-autoscaler for CoreDNS scaling - https://gist.github.com/MrHohn/1198bccc2adbd8cf3b066ab37ccd8355#enable-dns-horizontal-autoscaling-feature it seems like CPA gets conflicts with CoreDNS HPA (cpu based).

I.E:
CPA scale up from 3 to 4: Replicas are not as expected : updating replicas from 3 to 4
But CoreDNS CPU HPA immediately scale-down from 4 to 3:  Normal  Success

[2020-10-21 18:00] MrHohn commented on #99
@shaharr-ma I wouldn't expect this to work if you already enabled HPA on CoreDNS. Essentially you are using two autoscaling mechanisms that based on different attributes. My recommendation would be turning off one of them depends on your use case.

[2020-10-21 19:21] #99 closed

[2020-10-27 20:25] djjayeeta commented on #29
A use case for this feature. Kube state metrics has automated horizontal sharding (https://github.com/kubernetes/kube-state-metrics#horizontal-scaling-sharding) which is based on statefulset without PVC. A good metric to scale the statefulset is latency recommended by the community. Given it requires HPA with custom metrics (requires some extra work to adjust it in our architecture). Another appro

[2020-11-08 09:14] wojtek-t commented on #84
/remove-lifecycle rotten

[2020-11-08 11:38] dudicoco commented on #86
@MrHohn can you please add a note to the 1.8.0 release that it has a bug and 1.8.1 should be used instead? I've just installed 1.8.0 and encountered this error

[2020-11-09 22:23] MrHohn commented on #86
@dudicoco Sorry for the trouble. Just updated the 1.8.0 release note to mention this.

[2020-11-10 08:54] dudicoco commented on #86
Thanks @MrHohn :)

[2020-11-16 19:42] jonesbr17 opened #100 "Update tzdata package in cluster-proportional-autoscaler image"
[DLA-2424-1](https://www.tenable.com/plugins/nessus/142169) is a vulnerability impacting the cluster-proportional-autoscaler image. The tzdata package will need to be upgraded to resolve.

[2020-11-16 22:50] MrHohn commented on #100
@jonesbr17 Thanks for reporting. I'm not sure about which versions are impacted as I don't find any import of the tzdata package. Also CPA doesn't use debian as the base image IFAICT. Could you give more context? Thanks.

[2020-11-18 21:24] jonesbr17 commented on #100
I'm seeing the issue on 1.8.3 as well as 1.7.1. From what I've seen, images built on distroless just need to be rebuilt to pick up the remedy.

[2020-11-24 21:50] MrHohn commented on #100
Acked, I will add new release with the latest image from distroless.

[2020-11-26 21:20] #29 closed

[2020-11-29 20:38] MRostanski opened #102 "JSON broken in README.md"
Hi,
I have to report that there is an error in JSON provided as an example of linear object in default configuration.
The comma and quotes are necessary for proper config.

Is now:

`data:
  linear: |-
    {
      "coresPerReplica": 2,
      "nodesPerReplica": 1,
      "min": 1,
      "max": 100,
      "preventSinglePointFailure": true
      "includeUnschedulableNodes": true
    }`

Should be:

`d

[2020-11-30 18:59] MrHohn commented on #93
/remove-lifecycle rotten

[2020-12-01 21:18] #91 closed

[2020-12-13 00:38] #80 closed

[2021-01-29 05:14] nikhita commented on #96
/remove-lifecycle stale

[2021-02-01 10:26] SatoruItaya opened #103 "Feature Request: Helm chart for cluster-proportional-autoscaler"
I would like the Helm Chart to deploy the cluster-proportional-autoscaler.

[2021-02-01 18:35] MrHohn commented on #103
@SatoruItaya Thanks for the request. TBH I'm not familiar with with Helm chart integration, so any pointer for that would be very helpful!

[2021-02-02 18:41] jonesbr17 commented on #100
Update, the change to fix the vulnerability has been merged: https://github.com/kubernetes/kubernetes/pull/98401
I do not see new images published yet however, will keep an eye out for that.

[2021-02-08 17:19] jonesbr17 commented on #100
There is a new release of `gcr.io/distroless/static:nonroot` available, so publishing a new release at this point should resolve the vulnerabilities

[2021-02-10 21:40] BenTheElder commented on #97
/remove-lifecycle rotten

[2021-02-19 09:51] luodeke opened #104 "README.md had a little bit error"
in README.md Linear Mode position,end of "preventSinglePointFailure": true need a character ',’ to make sure the configmap create correct.

[2021-02-21 20:16] novas0x2a opened #105 "indirect dependency on klog causes read-only filesystem errors"
klog by default tries to log to disk, producing errors like
[code]

when used with `readOnlyFilesystem: true`

Normally, the fix here is to pass `--logtostderr` but that doesn't appear to work in this case, I believe because the autoscaler doesn't sync the glog/klog flags (https://github.com/kubernetes/klog/blob/master/examples/coexist_glog/coexist_glog.go)

[2021-02-24 08:58] fengmingxing opened #106 "What does "cores" mean？"
What does "cores" mean？That means the cluster's total cpu core or core business ？
replicas = max( ceil( cores * 1/coresPerReplica ) , ceil( nodes * 1/nodesPerReplica ) )
replicas = min(replicas, max)
replicas = max(replicas, min)

[2021-03-01 23:04] MrHohn commented on #106
@fengmingxing Yep, cores = cpu cores in this context.

[2021-03-04 19:26] MrHohn commented on #104
Fixed by https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/pull/107.

[2021-03-04 19:26] #104 closed

[2021-03-06 15:22] #98 closed

[2021-03-08 11:30] wojtek-t commented on #84
/remove-lifecycle stale

[2021-03-31 00:24] MrHohn commented on #102
Fixed by https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/pull/107.

[2021-03-31 00:24] #102 closed

[2021-04-06 00:02] bgray-onica opened #108 "Project status?"
Hello,

I am working on moving a customer to newer versions, but it seems there's not been much activity. Is this just a natural end to very active development or has this project been superseded by something else?

Thanks!

[2021-04-07 20:07] MrHohn commented on #108
@bgray-onica Thanks for the question. This project has not been superseded by something else - it is still being used in production workload and is maintained actively - just that not many features are being added.

[2021-04-07 20:20] bgray-onica commented on #108
That was what I figured, but wanted to be sure. Thank you!

[2021-04-07 20:20] #108 closed

[2021-04-15 03:15] fengmingxing commented on #106
ok,Thank you.

[2021-04-15 17:22] MrHohn commented on #106
Closing this for now but feel free to reopen if you have more questions.

[2021-04-15 17:22] #106 closed

[2021-05-03 06:43] nikhita commented on #96
/remove-lifecycle stale

[2021-05-11 10:20] afirth commented on #16
Still reffed downstream
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns-horizontal-autoscaler/dns-horizontal-autoscaler.yaml#L40

Worth fixing?
/reopen

[2021-06-07 06:02] wojtek-t commented on #84
/remove-lifecycle stale
/lifecycle frozen

[2021-06-23 10:24] BenTheElder commented on #97
/lifecycle frozen
even if nobody is working on this currently, IMHO this is a significant usability issue

[2021-07-02 09:46] grieshaber opened #110 "Minimum replicas in laddermode is not zero"
In the Readme it says, that it is possible to set the replicas to zero when using laddermode. Additionally, it states, that one of `coresToReplicas` or `nodesToReplicas` can be omitted.

But, scaling to zero is not possible when one of the above is omitted. This is because the default number of replicas is 1, if the corresponding list of entries is empty
https://github.com/kubernetes-sigs/cluster-

[2021-07-06 19:48] krmichel commented on #103
/reopen
@MrHohn If the project is open to it I could make a PR to add a helm chart.  Just let me know

[2021-07-07 16:34] MrHohn commented on #103
@krmichel Thanks for the offering - yep a PR would be awesome.

[2021-07-07 18:05] krmichel commented on #103
/assign

[2021-07-07 18:06] krmichel commented on #103
/remove-lifecycle rotten

[2021-07-12 04:34] tylern91 opened #112 "Running cluster-proportional-autoscaler following High Availability setup"
### Descriptions
While using cluster-proportional-autoscaler for CoreDNS scaling as part of [coredns/helm](https://github.com/coredns/helm/tree/master/stable/coredns), we would like to increase the HA of the cluster-proportional-autoscaler as it's part of the critical components in our system by PDB/podAntiAffinity and multi-replica. Currently, we are running with single cluster-proportional-autos

[2021-07-12 17:40] MrHohn commented on #112
@tylern91 There is no leader-election mechanism in cluster-proportional-autoscaler. If multiple replicas are deployed, they would try to do the same thing - calculate the expected replica counts, pull the current count from apiserver and update it if needed. I wouldn't expect major issue from that - but definitely not the ideal HA setup.

[2021-07-13 08:58] tylern91 commented on #112
Thanks @MrHohn for your quick response and really helpful answer abt this. Based on your recommendation, I think we will can not do anything in terms of improving the current autoscaler setup following HA. I will close this issue now then.

[2021-07-21 21:45] #105 closed

[2021-07-22 03:47] #103 closed

[2021-08-09 05:54] nikhita commented on #96
/remove-lifecycle stale

[2021-08-09 10:24] rtheis commented on #100
/remove-lifecycle stale

[2021-08-12 07:30] grieshaber commented on #110
@MrHohn unfortunately, i did not link the PR to this issue. This should be resolved and we'd appreciate, if a new release could be created with the fix included. Anything we can do?

[2021-08-12 20:50] MrHohn commented on #110
Oops, I thought we released a new version that includes this and I am wrong.

https://github.com/kubernetes/k8s.io/pull/2532 is promoting the new images.

[2021-08-14 00:31] MrHohn commented on #110
Release 1.8.5 is out: https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.5

[2021-08-14 00:31] #110 closed

[2021-08-15 14:45] francoran opened #114 "CPA doesn't honor nodelabels"
Hey,

I see wrong number of schedulable nodes though I pass `- --nodelabels=namespace=ML` to filter out several nodes, I expect 14 nodes here but see the following -
`Cluster status: SchedulableNodes[22]`

`kubectl get nodes -l namespace=ML | wc -l`
return 14 as expected

running version 1.8.5 of CPA

Any help would be appreciated

[2021-08-15 14:49] francoran commented on #114
issue is happening on 1.8.3
1.8.5 solves that

[2021-08-15 14:49] #114 closed

[2021-08-16 17:41] afirth commented on #16
/remove-lifecycle stale

[2021-08-16 17:49] bowei commented on #16
/lifecycle frozen

[2021-09-09 15:01] tbalzer opened #115 "Support ignoring NotReady/Tainted nodes"
In our cloud environment rapid node autoscaling is realized by shutting down nodes without removing them from the cluster. This means in a cluster that has a high scaling range at times most of the nodes are in state `NotReady` and tainted (`node.kubernetes.io/unreachable:NoSchedule`) by design.

We would like to ignore those nodes for the purposes of cluster proportional autoscaling.

Does this s

[2021-09-14 17:39] MrHohn commented on #115
Hi @tbalzer, thanks for the use case. That sounds like a reasonable feature and a new option like you proposed makes sense. Would appreciate it if anyone could send a PR :)

[2021-09-23 07:54] kundan2707 commented on #96
/assign

[2021-09-23 08:19] kundan2707 commented on #39
@ringtail  Are you working on it ?

[2021-09-23 08:24] kundan2707 commented on #115
/kind feature

[2021-09-30 06:06] kundan2707 commented on #96
/close

[2021-09-30 06:08] kundan2707 commented on #96
@nikhita Can you please close this issue now?

[2021-09-30 16:14] MrHohn commented on #96
Thanks @kundan2707!

[2021-09-30 16:14] #96 closed

[2021-10-26 17:19] nathanperkins opened #118 "Update dependencies"
I noticed that a lot of the packages in the go.mod are using versions from 2-4 years ago and are probably worth an update at this point.

I made a pass at using `go get -u` and `go mod tidy` to upgrade them, but there were a number of conflicts arising from packages changing names and/or repositories.

[2021-11-08 11:34] rtheis commented on #100
/remove-lifecycle stale

[2021-11-08 11:36] rtheis commented on #100
@jonesbr17 has this problem been resolved?

[2021-11-08 13:17] jonesbr17 commented on #100
Yes this was resolved in release 1.8.4 and can be closed out.

[2021-11-08 13:17] #100 closed

[2021-11-30 09:41] kundan2707 commented on #118
@MrHohn JUst wanted to check if you are working on it.

[2021-11-30 09:43] kundan2707 commented on #39
@ringtail if you are bot looking into it please let me know.
I will be OK to work on this

[2021-11-30 09:43] kundan2707 commented on #39
/assign

[2021-11-30 09:48] kundan2707 commented on #31
@bowei  is this issue is to update help file wo show all this option and related information ?

[2021-11-30 09:48] kundan2707 commented on #31
/assign

[2021-12-06 05:08] kundan2707 commented on #39
@ringtail  friendly ping

[2021-12-06 05:17] kundan2707 commented on #31
@bowei  i am planning to include argument option in command which will display corresponding text file content
for example:
``` cluster-proportional-autoscaler --show-modes```
this will invoke content of text file containing all modes and its information.

[2022-01-27 12:12] kundan2707 commented on #39
@ringtail i am starting work on this.
I will update my progress very soon

[2022-01-27 12:20] kundan2707 commented on #31
@bowei
Please suggest.

[2022-02-09 17:11] dudicoco commented on #93
/reopen

[2022-02-14 22:12] HackToHell opened #119 "CPA should create a pod disruption budget when preventSinglePointFailure is set"
Currently in GKE if there's a node rollout, there's a chance that multiple pods can get knocked out since no PDB is created, ideally a PDB and do not schedule in the same node anti affinity must be added to the preventSinglePointFailure setting.

[2022-02-16 18:18] kundan2707 commented on #31
@bowei  friendly reminder

[2022-02-20 09:40] #115 closed

[2022-03-23 17:50] kundan2707 commented on #39
/remove-lifecycle frozen

[2022-03-23 17:54] kundan2707 opened #120 "Changelog not updated after 1.2.0"
changelong for cluster-proportional-autoscaler release not updated since long time.

last updated version is 1.2.0 and current version is 1.8.5

[2022-03-23 17:55] kundan2707 commented on #120
/kind bug

[2022-03-30 11:34] kundan2707 commented on #120
/assign

[2022-03-30 11:58] kundan2707 commented on #120
Updated here
https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/pull/121

[2022-04-20 06:39] #120 closed

[2022-05-10 17:27] kuuji opened #122 "Released versions are not published"
After trying to pull k8s.gcr.io/cluster-proportional-autoscaler-amd64:1.8.5 and failing I noticed that the last 4 released haven't been published.

Couldn't find the pipeline that pushes that but I'm assuming it's broken currently.

[2022-05-11 02:29] MrHohn commented on #122
@kuuji There were some changes for the vanity domain flip: https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/Vanity-Domain-Flip.md

The released images had been migrated to `k8s.gcr.io/cpa/cluster-proportional-autoscaler:X` instead. e.g. `k8s.gcr.io/cpa/cluster-proportional-autoscaler:1.8.5`.

You can find the available images on https://github.com/kubernetes-sigs/cluster-proportional-auto

[2022-05-11 02:46] kuuji commented on #122
Oh I see, thanks @MrHohn. I'll close this and point to the new location.

[2022-05-11 02:46] #122 closed

[2022-06-02 10:34] kundan2707 commented on #31
/remove-lifecycle frozen

[2022-07-11 07:53] dudicoco commented on #93
/reopen

[2022-07-12 10:07] tukwila opened #123 "cluster-proportional-autoscaler-arm64:1.8.5 is not arm arch"
step1: pull docker image
docker pull k8s.gcr.io/cpa/cluster-proportional-autoscaler-arm64:1.8.5
step2: check image
$ docker images|grep autoscaler
k8s.gcr.io/cpa/cluster-proportional-autoscaler-arm64   1.8.5           1e25a96f93b4   11 months ago   39.3MB
step3: check image arch
$ docker inspect 1e25a96f93b4
[
    {
        "Id": "sha256:1e25a96f93b46bbb5b1054e9be33bac06d9f18c44766f1c55cc026a87363

[2022-07-14 23:49] #119 closed

[2022-07-18 06:51] kundan2707 commented on #39
/remove-lifecycle stale

[2022-07-26 00:08] #118 closed

[2022-07-26 00:10] MrHohn commented on #123
Thanks for the report - I suspect we will need a fix similar to https://github.com/kubernetes/dns/pull/529. If anyone is interested to take a stab that would be great!

[2022-07-27 21:04] MrHohn commented on #123
Keeping @tstapler in the loop.

[2022-07-27 21:06] MrHohn commented on #123
In fact, someone has attempted this https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/pull/117. I will pull that off for a quick local run.

[2022-07-27 21:28] MrHohn commented on #123
I will cut a new 1.8.6 release for this: https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.6

[2022-08-10 08:01] #93 closed

[2022-08-15 05:37] tsub opened #125 "The `appVersion` of the Helm Chart is not bumped up"
Although [v1.8.5](https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.5) of the application has been released, the version that can be installed from the Helm chart is still v1.8.4.

https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/blob/d186f0a98ec77bdd4d34818588f13457777679d1/charts/cluster-proportional-autoscaler/Chart.yaml#L4

As a workaround, y

[2022-08-15 18:12] MrHohn commented on #123
https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.6 is out now.

[2022-08-15 18:12] #123 closed

[2022-08-16 13:48] kundan2707 commented on #125
/assign

[2022-08-21 18:45] kundan2707 commented on #125
Updated  appVersion: 1.8.5

[2022-08-23 02:15] tsub commented on #125
Thank you! However, it appears that [v1.8.6](https://github.com/kubernetes-sigs/cluster-proportional-autoscaler/releases/tag/1.8.6) was released 7 days ago.

[2022-08-30 12:34] kundan2707 commented on #125
@tsub updated to 1.8.6

[2022-09-13 15:31] diranged commented on #29
/reopen

This is a really obvious feature to add IMO... Would really like to see it worked on.

[2022-10-21 15:38] jbilliau-rcd opened #128 "One of the overprovisioning pods seems to terminate and re-scale back up every 10 minutes"
Hi, we currently have the cluster-overprovisioner deployed to all of our clusters, using 1.8.5.

autoscaler deployment YAML

[code]

Overprovisioner pod YAML

[code]

We are using a ConfigMap with the ladder style method of deploying overprovisioner replicas:

[code]

The problem is, on an example cluster, of the 2 overprovisioner pods, one of them seemingly gets scaled down and back up every 10 m

[2022-10-24 06:46] kundan2707 commented on #31
/remove-lifecycle rotten

[2022-10-26 20:55] jbilliau-rcd commented on #128
nm, our issue!

[2022-10-26 20:55] #128 closed

[2022-11-10 06:48] tsub commented on #125
Looks like it was updated the `appVersion` with PR #127! Thank you very much.

[2022-11-10 06:48] #125 closed